.improvement {
    font-size : 12pt;
    color : #059669;
    color : #2FCC00;
}

.wheel-container {
    margin-top : 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pointer {
  position: absolute;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #E4A3F7;
  z-index: 10;
}

.textTalent {
  color : #F97316;
}

.title {
  color : #1E3A8A;
}

.butoon {
  color : #2563EB;
}

.butoon ::hover {
  color : #FFFFFF;
  color : #F73E3E;
}

.title {
  color : #75FFFE;
}