<div class="card m-auto w-75 text-start border-0 bg-primary-subtle list-unstyled textColorHome "> 
    <h1 class="bg-light-subtle">Bienvenue sur le site de KaizenTech !</h1>
    <h3>L'entreprise aux multiples talents.</h3>
    <br>
    <h5> Développement et programmation, impression 3D, réparations électroniques… De quoi répondre à (presque) tous vos besoins ! </h5>
    <!-- <br>
    <br>
    <p>Créer dans le but </p> -->

    <div class="text-center">
        <button class="btn btn-outline-primary"><a routerLink='/about' class="textColorHome"> Découvrir plus à mon sujet → </a></button>
    </div>
</div>
