<div class="card m-auto w-75 text-center bg-black">
        <h1 class="card m-auto w-100 text-center text-uppercase title bg-black">
            Réparations Électroniques – Fiabilité et précision
            <cite class="text-capitalize citation">
                Redonnez vie à vos appareils grâce à un service de réparation soigné et adapté à vos besoins.
            </cite>
        </h1>
        
        <div class="card listTask">
            <ul class="list-unstyled">
                <h5>Ce que je répare</h5>
                <li>
                    🔌 Petits appareils électroniques — Radios, montres électroniques, clés de voiture…
                </li>
                <!-- <li>
                    🎮 Appareils de loisirs — Manettes, consoles rétro, jouets électroniques
                </li> -->
                <li>
                    ⚙️ Circuits imprimés — Remplacement de composants, soudure fine
                </li>
            </ul>
        </div>

        <div class="card listProcedure">
            <ul  class="list-unstyled">
                <h5> Méthode de travail </h5>
                <li>
                    1️⃣ Diagnostic précis — Analyse du problème avant toute intervention
                        <p class="diag">==> 100% gratuit – Je suis en phase d’apprentissage, vos retours sont précieux pour m’aider à progresser.</p>
                </li>
                <li>
                    2️⃣ Réparation minutieuse — Utilisation d’outils adaptés et pièces de qualité
                </li>
                <li>
                    3️⃣ Test complet — Vérification du bon fonctionnement avant retour
                </li>
            </ul>
        </div>
        
        <div class="card rdv">
            <h4 class="text-decoration-underline">
                Prendre Rendez-Vous pour un devis 
            </h4> 
            <p>
                <button (click)="getRDV()"  class="btn btn-outline-dark">Cliquez Ici !</button>
            </p>
        </div>
</div>
