<div class="card w-100 m-auto text-center sizeFont homeBgColor">
    <h4 class="text-decoration-underline title titleBg">Contactez moi pour plus d'informations</h4>
    <table class="w-100 text-center border-0 list-unstyled textColorHome sizeFont">
        <tr>
            <td class="w-25">
                <!--* Mettre la localisation -->
                <img src="/public/mylogo.png" alt="">
                <h5 class="text-decoration-underline title">Pour discuter de vos projets, contactez moi par mail ou par téléphone ↓</h5>
                <br>
                <!--* Contact par adresse mail -->
                📩 Par Email : 
                <a href="https://mail.google.com/mail/u/0/?hl=fr#inbox?compose=CllgCJfqcQqchZlpgjRHMLLMXJhNjLPPzndZMJmvgPppXZpkKtVGzgglsZMqQQLDCTbKMkwSgML"
                class="link">
                    {{email}}
                </a>    
                <br>          
                <!--* Contact par numéro de téléphone -->
                📞 Par Téléphone : {{phone}}
                <br>
                <br>
                <br>
                <br>
                <br>
            </td>   
            <td class="w-25">
                <ul class="list-unstyled">
                    <h5 class="text-decoration-underline title">N'hésitez pas aussi à me suivre sur mes réseaux </h5>
                    <!--* Instagram, Facebook, ... ( au choix ) -->
                    pour voir des illustrations de mes travaux !
                    <li>
                        <!--* Faire un compte Facebook -->
                        🔵 Facebook : ...
                    </li>
                    <li>
                        <!--* Peut-être un compte insta plus tard -->
                        🌈 Instagram : ...
                    </li>        
                        <!--* Faire un compte LinkedIn -->     
                        🔗 Mon lien linkedin ↓
                    <li>
                        <a href="https://www.linkedin.com/in/kaizentech-belgium-649940379/" class="link">Mon Linkledin</a>
                    </li>
                    <!--* Pour leur montrer mes projets sur mon GitHub -->
                        🐙Regarder mes projets ? C'est ici ↓
                    <li>
                        <a href="https://github.com/SabatoU012?tab=repositories" class="link">Mon GitHub</a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <div class="rdv">
        <h5 class="mt-2 title text-decoration-underline"> Où prenez rendez-vous directement ici ! ↓</h5>
        <button class="btn btn-outline-dark mb-2">
            <!--* Pour eux prendre rendez-vous directement -->
            <a href="https://calendly.com/willuc-kaizentech/nouvelle-reunion" class="link">Prendre Rendez-Vous</a>
        </button>
    </div>
</div>
