.rdv {
    background-color : #E8FFFC;
    color : #8253FC;
    font-size : 22pt;
}

.sizeFont {
    font-size : 14pt;
}

.takeRdv {
    color : #DB5EA7;
}

.title {
  color : #1E3A8A;
}

.butoon {
  color : #2563EB;
}

.link {
  color : #2563EB;
}