<div class="w-75 text-center m-auto">
    <div class="card">
        <h1>
            Service Proposé : Impression 3D
        </h1>
    </div>

    <div class="card mt-2">
        <h3 class="text-decoration-underline">
            Présentation du Service :
        </h3>
        <p style="max-width: 550px;" class="m-auto fs-5">
            coucou le monde !
        </p>
    </div>

    <!-- <div ngbDropdown class=" card w-25 mt-2 d-inline-block">
        <button class="btn btn-outline-danger" id="dropdownPLA" ngbDropdownToggle> Filament Type </button>
        <div ngbDropdownMenu aria-labelledby="dropdownPLA">
            <button ngbDropdownItem>PLA</button>
        </div>
    </div>
    
    <div class="card mt-2" *ngFor="let item of MyElementsForPrinting">
        <h5>
            Matière du filament : 
        </h5>
        <p style="max-width: 550px;" class="fs-5 m-auto">
            {{item.name}}
        </p>

        <br>

        <h5>
            Description : 
        </h5>
        <p style="max-width: 550px;" class="fs-5 m-auto">
            {{item.descriptionOfThisFilament}}
        </p>
        
        <br>

        <h5>
            Poids : 
        </h5>
        <p style="max-width: 550px;" class="fs-5 m-auto">
            {{item.weight}} kg
        </p>

        <br>

        <h5>
            Couleur du filament : 
        </h5>
        <p style="max-width: 550px;" class="fs-5 m-auto">
            {{item.color}}
        </p>
    </div> -->
</div>
