<div class="card m-auto w-75 text-start border-0 bg-primary-subtle list-unstyled ">
    <table class="bg-light-subtle">
        <tr>
            <td>
                <h1 class="text-decoration-underline title"> About Me </h1>                   
            </td>
            <td>
                <button class="btn btn-outline-primary"><a routerLink=""  class="textColorHome"> ← HomePage </a></button>
            </td>
            <td>
                <button class="btn btn-outline-primary"><a routerLink="../skills"  class="textColorHome"> Mes Compétences → </a></button>
            </td>
        </tr>
    </table>
    
    <ul class="textColorHome">
        <li><h4 class="text-decoration-underline">1. Qui suis-je ?</h4></li>
        <h5>Je m’appelle Luca, et je suis passionné depuis toujours par la technologie, la création, et l’univers japonais.
           Aujourd’hui, j’ai décidé de mettre toutes mes compétences au service de ceux qui
           ont besoin d’un coup de main, d’une idée, ou simplement d’un service bien fait. </h5>
    </ul>

    <ul class="textColorHome">
        <li><h4 class="text-decoration-underline">2. Mon parcours</h4></li>
        <h5>
            Après mon CESS et mon diplôme de technicien en électronique, j’ai travaillé dans un magasin d’électronique/informatique.
            Ce poste n’était pas fait pour moi, et après plusieurs expériences variées — intérims, mécanique automobile, 
            formations en IT — j’ai compris qu’être sous un patron ne me correspondait pas.
            J’ai donc choisi de me lancer dans un projet personnel, pour vivre de mes passions et les partager avec vous. 
        </h5>
        </ul>

        <ul class="textColorHome">
            <li><h4 class="text-decoration-underline">3. Pourquoi KaizenTech ?</h4></li>
            <h5>
                En japonais, Kaizen signifie "amélioration continue" ou "dépassement de soi".
                Et c’est exactement ce que je cherche à faire chaque jour : apprendre, aider, créer… et progresser.
                Pour moi, Kaizen, c’est aussi la force de se relever, encore et encore, même après les plus grands échecs.
                Avec KaizenTech, j’ai voulu unir cette philosophie à mes passions.
                Car je suis convaincu d’une chose : rien n’est impossible tant qu’on choisit de ne pas abandonner. 
            </h5>
        </ul>

        <ul class="textColorHome">
            <li><h4 class="text-decoration-underline">4. Mes services proposés et pourquoi ?</h4></li>
            <h5>
                <li>Développement d'application Web : parce que le web est aujourd’hui la vitrine de toute activité.<a href="devWebApps" class="moreAboutService">   En savoir plus sur ce service ?</a></li> 
                <li>Programmation sur mesure : parce que j’aime transformer une idée en solution concrète.<a href="programmation" class="moreAboutService">  En savoir plus sur ce service ?</a></li>
                <li>Réparations électroniques : parce que comprendre et réparer est un vrai plaisir.<a href="reparationElectro" class="moreAboutService">    En savoir plus sur ce service ?</a></li>
                <li>Création 3D et impression : parce que le tangible a aussi sa place dans le numérique.<a href="impression3D" class="moreAboutService">    En savoir plus sur ce service ?</a></li>
                <!-- <li>Photographie : une passion personnelle, qui s’est transformée en outil créatif.</li> -->
            </h5>
        </ul>
        <br>
            <cite class="text-center citation">"Je ne cherche pas à être le plus grand, juste à faire de mon mieux.
                  Et si je peux vous aider en chemin, alors KaizenTech aura rempli son objectif."</cite>
</div>