<div class="card m-auto w-75 text-center">
        <h1 class="card m-auto w-100 text-center text-uppercase">
            Dev Web Apps
        </h1>
        
        <div class="card">
            <h4 class="text-decoration-underline">
                Description 
            </h4>
            <p style="max-width: 550px;" class="fst-italic m-auto fs-5">
                coucou le monde !
            </p>
        </div>

        <div class="card">
            <h4 class="text-decoration-underline">
                Prendre Rendez-Vous
            </h4> 
            <p>
                <button (click)="getRDV()">Cliquez Ici !</button>
            </p>
        </div>
</div>
