<div class="card m-auto w-75 text-start border-0 skills list-unstyled homeBgColor">
    <table class="titleBg">
        <tr>
            <td>
                <h1 class=" text-decoration-underline title">Mes Compétences</h1>
            </td>
            <td>
                <button class="btn btn-outline-info"><a routerLink="../about" class="butoon"> ← About Me </a></button>
            </td>
            <td>
                <button class="btn btn-outline-info"><a routerLink="../passions" class="butoon"> Mes Passions → </a></button>
            </td>
        </tr>
    </table>
    <br>
    <!-- ? Tableau pour mes passions => arrangements -->
    <table class="homeBgColor w-75 m-auto textColorHome">
        <br>
        <tr>
            <td class="title text-center">
                <h4 class=" text-decoration-underline">Dévelopement Web</h4>
                <h6 *ngIf="skillsInWeb">
                    Logiciels
                    <ul class="list-unstyled">
                        <li>
                            Angular
                        </li>
                        <li>
                            React
                        </li>
                        <li>
                            Ionic
                        </li>
                    </ul>
                    
                    <ul class="list-unstyled">
                        Languages
                        <li>
                            HTML 5 
                        </li>
                        <li>
                            CSS 3
                        </li>
                        <li>
                            SCSS
                        </li>
                        <li>
                            JavaScript
                        </li>
                        <li>
                            SQL 
                        </li>
                        <li>
                            TypeScript
                        </li>
                        <li>
                            Python
                        </li>
                    </ul>
                </h6>
                <button class="btn btn-outline-primary mt-2 mb-3" (click)="showDetailsWeb()"><a class="textColorHome">En savoir plus</a></button>
            </td>
            <td class="title text-center homeBgColor w-25">
                    <h4 class=" text-decoration-underline">Code</h4>
                    <h6 *ngIf="skillsInProg">
                    <ul class="list-unstyled">
                        Languages
                        <li>
                            Arduino
                        </li>
                        <li>
                            C#
                        </li>
                        <li>
                            HTML 5 
                        </li>
                        <li>
                            CSS 3
                        </li>
                        <li>
                            SCSS
                        </li>
                        <li>
                            JavaScript
                        </li>
                        <li>
                            TypeScript
                        </li>
                        <li>
                            Python
                        </li>
                    </ul>
                    </h6>
                    <button class="btn btn-outline-primary mt-2 mb-3" (click)="showDetailsProg()"><a class="textColorHome">En savoir plus</a></button>
            </td>
        </tr>
        <tr>
            <td class="title text-center homeBgColor w-25">
                    <h4 class=" text-decoration-underline">Électronique</h4>
                    <h6 *ngIf="skillsInElect">
                        <ul class="list-unstyled">
                            <li>
                                Sait utiliser un multimètre
                            </li>
                        </ul>
                    </h6>
                    <button class="btn btn-outline-primary mt-2 mb-3" (click)="showDetailsElect()"><a class="textColorHome">En savoir plus</a></button>
            </td>
            <td class="title text-center homeBgColor w-25">
                <h4 class=" text-decoration-underline">Impression 3D</h4>
                <h6 *ngIf="skillsIn3D">
                    <ul class="list-unstyled">
                        <li>
                            Fusion360
                        </li>
                    </ul>
                </h6>
                <button class="btn btn-outline-primary mt-2 mb-3" (click)="showDetails3D()"><a class="textColorHome">En savoir plus</a></button>
            </td>           
    </table>
    <br>
</div>